#checkout{
    min-height: 1000px;
    background-image: url('/../images/checkout.png');
    background-size: cover;
    background-position: bottom center;
    h1{
        color: white;
        font-weight: 900!important;
        line-height: 3.4rem;
        font-size: 3.7rem;
    }
}

#checkout-info{
    margin-top: -100px;
}

.checkout-card{
    text-align: center;
    .old-price{
        text-decoration: line-through;
        display: block;
    }
    .new-price{
        color: @verde;
        font-weight: 900;
        font-size: 2rem;
        display: block;
    }
    .btn-buy{
        display: block;
        background-color: @verde;
        border: 1px solid @verde;
    }
    .text-muted{
        display: block;
        font-size: 1rem;
        margin-top: 30px;
    }
    p{
        font-size: 1rem;
        line-height: 1rem;
        margin-top: 30px;
    }
}