@import 'menu.less';
@import 'color.less';
@import 'checkout.less';
@import 'charts.less';
@import 'navbar.less';
@import 'typos.less';
@import 'sizes.less';
@import 'corso.less';

body, html{
    font-family: 'Lato', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

#fine-corso{
    h2{
        font-size: 28px!important;
    }
    p{
        font-size:12px!important;
        line-height: 20px!important;
    }
}

#obiettivi{
.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    @media only screen and (max-width: 600px) {
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);    
    }
    .grid-item{
        padding: 20px;
        border: 1px solid white;
        align-items: center;
        text-align: left;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.162);
        min-height: 200px;
        @media only screen and (max-width: 600px) {
            padding: 20px;
            min-height: auto;
        }
        .icon{
            color: @giallo;
            min-width: 60px;
            max-width: 60px;
            font-size: 40px;
            margin-right: 10px;
            text-align: center;
        }
    }
}
}

#perche{
    .img-perche{
        height: 300px;
        width: 100%;
        overflow: hidden;
        border-radius: 30px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.317);
        margin-bottom: 20px;
        @media only screen and (max-width: 600px) {
           height: 220px;
        }
            img{
                height: 100%;
                object-fit: cover!important;
            }
    }
}

#relatori{
    padding: 50px 0px;
    width: 100%;
    .grid{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        @media only screen and (max-width: 600px) {
            gap: 5px;
            grid-template-columns: repeat(2, 1fr);    
        }
        .grid-item{
            padding: 0px;
            border: 1px solid white;
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            text-align: left;
            border-radius: 20px;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.167);
            min-height: 200px;
            .btn{
                font-size: 12px;
            }
            img{
                width: 100%;
            }
            @media only screen and (max-width: 600px) {
                padding: 0px;
                min-height: auto;
            }
            .relatore-body{
                padding:20px;
                h2{
                    margin: 0px;
                    padding: 0px;
                    color: @viola;
                    line-height: 24px;
                    @media only screen and (max-width: 600px) {
                        font-size: 18px!important;
                        min-height: auto;
                    }
                }
                
            }
        }
    }
    }

  

#home{
    height: 100vh;
    margin-top: -24px;
    background-position: center center;
    background-size: cover;
    color:white;
    position: relative;
    transition: all 1s;
    .container-home{
        padding: 100px 30px;
        @media only screen and (max-width: 600px) {
            padding: 100px 20px 30px 20px;
        }
    }
    &:after{
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.25);
    }
    @media only screen and (max-width: 600px) {
        background-position: 75%;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            z-index: 0;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
    .caption{
        position: relative;
        z-index: 1;
        h1{
            font-size: 3rem!important;
            font-weight: 700;
            @media only screen and (max-width: 600px) {
                font-size: 1.6rem!important;
            }
        }
        p{
            font-size: 24px!important;
            line-height: 32px!important;
            @media only screen and (max-width: 600px) {
                font-size: 18px!important;
                line-height: 22px!important;
            }
        }
    }

    .loghi{
        div{
            padding: 10px;
        }
        img{
            width: auto!important;
        }
        #educajudo{
            height: 53px;
            @media only screen and (max-width: 600px) {
                max-height: 25px!important;
                width: auto;
            }
        }
        #logo-fijlkam{
            max-height: 28px!important;
            margin-top: 3px;
        }
        #logo-ijf{
            margin-left: 10px;
            max-height: 40px!important;
        }

        #logo-anupi{
            width: 200px!important;
            height: 53px!important;
            @media only screen and (max-width: 600px) {
                width: 100px!important;
                height: 27px!important;
            }
        }
    }

    .adopted-by{
        z-index: 1;
        font-size: 10px;
        text-transform: uppercase;
        @media only screen and (max-width: 600px) {
            bottom: 15%;
        }
        img{
            width: 300px;

            @media only screen and (max-width: 600px) {
                width: 180px;
            }
        }
    }
}

.home-bg-1{
    background-image: url('../images/bg-primary.jpeg');
}
.home-bg-2{
    background-image: url('../images/bg-secondary.jpg');
}
.home-bg-3{
    background-image: url('../images/bg-third.jpg');
}

#relatori{
    video{
        width: 100%;
        aspect-ratio: 3/4;
        object-fit: cover;
    }
}

#piattaforma{
    .icons{
            margin-bottom: 20px;
        i{
            font-size: 72px;
            margin: 0px 50px;
            @media only screen and (max-width: 600px) {
                font-size: 40px;
                margin: 0px 20px;
            }
        }
    }
    .grid{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        @media only screen and (max-width: 600px) {
            gap: 10px;
            grid-template-columns: repeat(1, 1fr);    
        }
        .grid-item{
            position: relative;
            padding: 20px;
            border: 0px solid white;
            display: flex;
            align-items: center;
            text-align: left;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.162);
            min-height: 250px;
            overflow: hidden;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.383);
            background-size: cover;
            .overlay{
                width: 100%;
                height: 80px;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);                
                position: absolute;
                left: 0;
                bottom: 0;
                display: flex;
                padding: 20px;
                align-items: center;
                h3{
                    font-weight: 800;
                    color:white;
                }
            }
            i{
                display: block;
                width: 20%;
                text-align: center;
                margin-right: 20px;
            }
        }
    }
}

a.anchor {
    display: block;
    position: relative;
    top: -300px;
    visibility: hidden;
}

.timeline{
    text-align: center;
    .cap{
        display: block;
        font-weight: 100;
        font-size: 150px;
        color: @verde;
        margin: 0px;
        padding: 0px;
        @media only screen and (max-width: 600px) {
            font-size: 120px;
            line-height: 120px;
        }
    }
    h4{
        color: @verde;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        @media only screen and (max-width: 600px) {
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }
    p{
        text-align: center!important;
    }
    .spacer{
        display: block;
        width: 1px;
        height: 50px;
        margin: 20px auto;
        border-right: 3px dashed @verde;
        @media only screen and (max-width: 600px) {
            height: 30px;
        }
    }
}

#percorso{
    .metodi{
        gap: 5px;
        div{
            flex: 1 1 0px;
            background-color: rgb(246, 246, 246);
            margin: 5px 0px;
            padding: 10px;
            border-radius: 10px;
        }
        i, img{
            color: @verde;
            font-size: 50px;
            height: 50px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}

#percorso-timeline{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    p{
        line-height: 18px;
    }
    .tl{
        width: 60%;
        text-align: left;
        align-items: center;
        margin-bottom: 75px;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }
    .judoka{
        display: flex;
        width: 40%;
        align-items:flex-end;
        justify-content: flex-end;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
        img{
            max-width: 80%;
            margin: 0 auto;
            position: sticky;
            bottom: 0!important;
            @media only screen and (max-width: 600px) {
                max-width: 50%;
            }
        }
    }
}

#aree{
    box-shadow: @shadow-lg;
    background-color: @light-gray;
    z-index: 9;
    .area-didattica{
        background-color: white;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        height: 300px;
        box-shadow: @shadow;
        margin-bottom: 30px;
        overflow: hidden;
        @media only screen and (max-width: 600px) {
            height: auto;
            flex-direction: column;
        }
        .area-desc{
            min-width: 70%;
            max-width: 70%;
            text-align: left;
            padding: 4%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media only screen and (max-width: 600px) {
                width: 100%;
                padding: 30px;
                min-width: 100%;
                max-width: 100%;
            }
            h3{
                color: @viola;
            }
        }
        .area-img{
            overflow: hidden;
            @media only screen and (max-width: 600px) {
                height: 300px;
            }
            img{
                object-fit: cover;
                min-width: 100%;
                height: 100%;
            }
        }
    }
}

#inizia-a-studiare{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    background-color: @viola;
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.529);
    &:hover{
        background-color: lighten(@viola, 20);
    }
}

#chi{
    .check{
        img{
            max-height: 30px;
            margin-right: 15px;
        }
    }
}

#qualifiche{
    .accordion-body{
        padding: 30px;
        @media only screen and (max-width: 600px) {
            padding: 10px;
        }
        h5{
            font-weight: 800;
            margin-top: 20px;
        }
        .riconoscimento{
            background-color: @light-gray;
            border: 1px solid @light-gray;
            border-radius: 10px;
            padding: 5px 30px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            @media only screen and (max-width: 600px) {
                line-height: 1rem;
                font-weight: 400;
                padding: 15px;
                margin-bottom: 10px;
            }
            .riconoscimento-desc{
                width: 80%;
                line-height: 22px;
            }
            .riconoscimento-icon{
                text-align: center;
                width: 20%;
                color: @verde;
                font-size: 40px;
            }
            &:nth-child(even){
                border: 1px solid @light-gray;
                background-color: white;
            }
        }
    }
}

#assistenza{
    background-color: rgb(61, 61, 61);
    .link-assistenza{
        gap: 10px;
        a{
            width: 100%;
            color:white;
            text-decoration: none;
            border: 1px solid white;
            padding: 10px;
            &:hover{
                background-color: @verde;
                color: black;
            }
        }
    }
}


footer{
    background-color: black;
    color: white;
    min-height: 300px;
    display: block;
    img{
        max-width: 230px;
        margin: 20px 0px;
    }
    a{
        color: white;
        text-decoration: none!important;
    }
    ul{
        padding:0px;
        li{
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
    }
    
}

.payment-result{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.156);
    background-color: white;
    h2{
        line-height: 24px;
        margin-bottom: 20px;
    }
    p{
        line-height: 18px;
        margin-top: 10px;
    }
    img{
        width: 80px;
        margin-bottom: 20px;
    }
}

.bg-black{
    background-color: black;
}


.valutazione{
    h3{
        font-weight: 400!important;    
    }
}

.voti {
    list-style-type: none;
    display: flex;
    gap: 5px;
    padding: 0;
    clear: both;
  li {
    float: left;
    width: 100px;
    height: 32px;
    display: flex;
    position: relative;
    font-size: 13px;
  }
  
  label,
  input {
    display: block;
    position: absolute;
    font-size: 12px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  
  input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
  }
  
  input[type="radio"]:checked+label,
  .Checked+label {
    background: @verde;
  }
  
  label {
    padding: 5px;
    border: 1px solid #CCC;
    background-color: rgb(203, 255, 252);
    cursor: pointer;
    z-index: 90;
  }
  
  label:hover {
    background: #DDD;
  }
}

.rounded-box-shadow{
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(219, 219, 219);
    background-color: white;
}

.bg-texture{
    background-image: url('../images/so-white.png');
}

.login-register{
    height: 100vh;
    min-height: 100vh;
    @media only screen and (max-width: 600px) {
        height: auto;
        min-height: auto;
        text-align: center;
    }
}

.text-right{
    text-align: right!important;
}

.text-left{
    text-align: left!important;
}

.totale-checkout{
    font-weight: bold;
    color: @verde;
    font-size: 24px;
}

#anupi-welcome{
    text-align: center!important;
    justify-items: center;
    font-size:16px;
    @media only screen and (max-width: 600px) {
        text-align: center!important;
        justify-items: center;
        font-size:13px;
    }
}
.video-pre-corso{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.238);
    margin-bottom: 10px;
    overflow: hidden;
    iframe{
        max-width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
    h4{
        font-weight: normal!important;
    }
    .info{
        padding: 20px;
    }
}

