p{
    font-size: 20px!important;
    line-height: 28px;
    @media only screen and (max-width: 600px) {
        font-size: 15px!important;
        line-height: 22px;
        text-align: justify;
    }
}

h1{
    font-size: 42px!important;
    font-weight: bold!important;
}

h2{
    font-size: 36px!important;
    font-weight: bold!important;
    @media only screen and (max-width: 600px) {
        font-size: 26px!important;
        font-weight: bold!important;
    }
}

h3{
    font-size: 18px!important;
    font-weight: bold!important;
}

h4{
    font-size: 16px!important;
    font-weight: bold;
}

.text-small{
    font-size: 11px!important;
    line-height: 15px!important;
}

